#d{
    border: 2px solid red;
    height: 3000px;
    background-color: rgb(160, 130, 105);
}
.a{
    border: 3px solid darkblue;
    border-radius: 50px;
    box-sizing: border-box;
    display: inline-block;
    width: 210px;
    height: 200px;
    margin: 5px;
    padding: 20px;
}
#a1{
    position: relative;
    top: 5px;
    left: 5px;
}
#a2{
    position: absolute;
    top: 5px;
    right: 5px;   
}
#a3{
    position: fixed;
    top: 5px;
    right: 230px;
}
#a4{
    position: sticky;
    top: 7px;
}